<h1>Hi, {{ user.email }}</h1>
<hr>

  <h3>Your Addresses</h3>
<div ng-show="user.addresses.length"class="user-section-box">
  <hr>
  <ul>
    <li ng-repeat="address in user.addresses">
      {{ address.name }}
      {{address.address}}
      {{address.city}}
      {{address.state}}
      {{address.zipcode}}
      <button ng-click="delete(address.id)" class="btn btn-danger">Delete</button>
    </li>
  </ul>
</div>
  <add-address update="update()"></add-address>

<div class="user-section-box">
  <h3>Your Billing Information</h3>
  <hr>


</div>

<div class="user-section-box">
  <h3>Your Orders</h3>
  <hr>


</div>



<!-- 
<div class="user-section-box">
  <h3>Your Reviews</h3>
  <hr>


</div>

<div class="user-section-box">
  <h3>Your Products</h3>
  <hr>


</div>
 -->