<h1>Checkout</h1>
<h2>Your Cart</h2>
<div ng-repeat="product in cartProducts">
  <div>Product: {{product.name}} / Quantity: {{product.cartQuantity}}</div>
</div>
<div ng-if="!user">
  <input ng-model="order.email">
</div>
<h3>Your Addresses</h3>
<div ng-if="user.addresses" class="user-section-box">
<hr>
{{order.addressId}}
<form name="addressForm">
  <div ng-repeat="address in user.addresses">
    <label>
      <input type="radio" ng-model="order.addressId" value="{{address.id}}">
        {{address.name}}
        {{address.address}}
        {{address.city}}
        {{address.state}}
        {{address.zipcode}}
    </label>
  </div>
</form>
</div>
<add-address update="update()"></add-address>
<h3>Your Billing Info</h3>
<h4>Credit Card Info</h4>
<h4>Billing Address</h4>
<button ng-click="checkout(order)">Checkout</button>
