    <h1>Checkout</h1>
<div class="container">
    <h2>Your Cart</h2>
    <div ng-repeat="product in cartProducts">
        <div class="panel panel-default">
            <span class="panel-body">
          <a ui-sref="viewProduct({productId: product.id})">
              <img class="s-product-image" ng-src="{{product.imageUrls[0]}}" />
          </a>
          <div>Product: {{product.name}}</div>
          <div>Quantity: {{product.cartQuantity}}</div>
          <div>Unit Price: {{product.price}}</div>
    </span>
        </div>
    </div>
    <h3>Select Shipping Address</h3>
    <div ng-if="user.addresses" class="user-section-box">
        <hr>
        <form name="addressForm">
            <div ng-repeat="address in user.addresses">
                <label>
                    <input type="radio" ng-model="order.addressId" value="{{address.id}}"> {{address.name}} {{address.address}} {{address.city}} {{address.state}} {{address.zipcode}}
                </label>
            </div>
        </form>
    </div>
    <add-address update="update()"></add-address>
    <h3>Select Credit Card</h3>



    <div ng-if="user.billings" class="user-section-box">
        <hr>
        <form name="billingForm">
            <div ng-repeat="billing in user.billings">
                <label>
                    <input type="radio" ng-model="order.billingId" value="{{billing.id}}"> {{billing.creditCard}} {{billing.name}} {{billing.address}} {{billing.city}} {{billing.state}} {{billing.zipcode}}
                </label>
            </div>
        </form>
    </div>

    <form stripe-form="stripeCallback" name="checkoutForm">
        <input ng-model="number" placeholder="Card Number"
                 payments-format="card" payments-validate="card" name="card" />
        <input ng-model="expiry" placeholder="Expiration"
                 payments-format="expiry" payments-validate="expiry"
                 name="expiry" />
        <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" />
        <button type="submit">Add Credit Card with Stripe</button>
        <div ng-if="invalidstripe">{{error}}</div>
    </form>
    <br>
    <add-billing update="updateBilling()" token="getstripeToken()" number="getNumber()"></add-billing>
    <div ng-if="checkoutForm.card.$invalid">
        Error: invalid card number!
    </div>
    <div ng-hide="stripeToken">Need to add Credit Card with Stripe</div>
    <div ng-show="stripeToken">Card added successfully</div>
    <button class="btn btn-primary" ng-disabled="!stripeToken" ng-click="checkout(order, stripeToken)">Checkout</button>
</div>
