<div class="container">
    <h1>Guest Checkout</h1>
    <h2>Your Cart</h2>
    <div ng-repeat="product in cartProducts">
        <div>Product: {{product.name}} / Quantity: {{product.cartQuantity}}</div>
    </div>
    <div>
        <form name="guestForm" novalidate>
            <h3>Shipping Address</h3>
            <label>
                Email:
                <input ng-model="order.email">
            </label>
            <br/>
            <br/>
            <labeL>
                Name:
                <input type="text" name="customer" ng-model="order.address.name" required/>
            </label>
            <span class="error" ng-show="guestForm.$dirty && guestForm.customer.$error.required">
       Customer name is required!</span>
            <br/>
            <br/>
            <label>Address:</label>
            <br/>
            <input type="text" name="line1" size="33" required ng-model="order.address.address" />
            <br/>
            <input type="text" name="city" size="12" required ng-model="order.address.city" />,
            <input type="text" name="state" ng-pattern="/^\w\w$/" size="2" required ng-model="order.address.state" />
            <input type="text" name="zip" ng-pattern="/^\d\d\d\d\d$/" size="5" required ng-model="order.address.zipcode" />
            <br/>
            <br/>
            <span ng-show="guestForm.$dirty && guestForm.$invalid" class="error">
         Incomplete address:
         <span class="error" ng-show="guestForm.state.$error.required">
           Missing state!</span>
            <span class="error" ng-show="guestForm.state.$error.pattern">
           Invalid state!</span>
            <span class="error" ng-show="guestForm.zip.$error.required">
           Missing zip!</span>
            <span class="error" ng-show="guestForm.zip.$error.pattern">
           Invalid zip!</span>
            </span>
            <h3>Billing Address</h3>
            <br/>
            <label>
                Name:
                <input type="text" name="customer" ng-model="order.billing.name" required/>
            </label>
            <span class="error" ng-show="guestForm.$dirty && guestForm.customer.$error.required">
       Customer name is required!</span>
            <br/>
            <br/>
            <label>Address:</label>
            <br/>
            <input type="text" name="line1" size="33" required ng-model="order.billing.address" />
            <br/>
            <input type="text" name="city" size="12" required ng-model="order.billing.city" />,
            <input type="text" name="state" ng-pattern="/^\w\w$/" size="2" required ng-model="order.billing.state" />
            <input type="text" name="zip" ng-pattern="/^\d\d\d\d\d$/" size="5" required ng-model="order.billing.zipcode" />
            <br/>
            <br/>
            <span ng-show="guestForm.$dirty && guestForm.$invalid" class="error">
         Incomplete address:
         <span class="error" ng-show="guestForm.state.$error.required">
           Missing state!</span>
            <span class="error" ng-show="guestForm.state.$error.pattern">
           Invalid state!</span>
            <span class="error" ng-show="guestForm.zip.$error.required">
           Missing zip!</span>
            <span class="error" ng-show="guestForm.zip.$error.pattern">
           Invalid zip!</span>
            </span>
        </form>
        <form stripe-form="stripeCallback" name="checkoutForm">
            <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" name="card" />
            <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry" name="expiry" />
            <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" />
            <button class="btn btn-default" type="submit">Add Credit Card with Stripe</button>
            <div ng-if="invalidstripe">{{error}}</div>
        </form>
    </div>
    <div ng-hide="stripeToken">Need to add Credit Card with Stripe</div>
    <div ng-show="stripeToken">Card added successfully</div>
    <button class="btn btn-primary" ng-disabled="!stripeToken" ng-click="checkout(order, stripeToken)">Checkout</button>
</div>
