<div class="container">
<h1>Checkout</h1>
<h2>Your Cart</h2>
<div ng-repeat="product in cartProducts">
  <div class="panel panel-default">
      <span class="panel-body">
          <a ui-sref="viewProduct({productId: product.id})">
              <img class="s-product-image" ng-src="{{product.imageUrls[0]}}" />
          </a>
          <div>Product: {{product.name}}</div>
          <div>Quantity: {{product.cartQuantity}}</div>
          <div>Unit Price: {{product.price}}</div>
    </span>
  </div>
</div>
  <h3>Select Shipping Address</h3>
  <div ng-if="user.addresses" class="user-section-box">
  <hr>
  <form name="addressForm">
    <div ng-repeat="address in user.addresses">
      <label>
        <input type="radio" ng-model="order.addressId" value="{{address.id}}">
          {{address.name}}
          {{address.address}}
          {{address.city}}
          {{address.state}}
          {{address.zipcode}}
      </label>
    </div>
  </form>
  </div>
  <add-address update="update()"></add-address>
  <h3>Select Credit Card</h3>
  <div ng-if="user.billings" class="user-section-box">
  <hr>
  <form name="billingForm">
    <div ng-repeat="billing in user.billings">
      <label>
        <input type="radio" ng-model="order.billingId" value="{{billing.id}}">
          {{billing.creditCard}}
          {{billing.name}}
          {{billing.address}}
          {{billing.city}}
          {{billing.state}}
          {{billing.zipcode}}
      </label>
    </div>
  </form>
  </div>
  <add-billing update="updateBilling()"></add-billing>
  <button ng-click="checkout(order)">Checkout</button>
</div>

