<div>
    <form name="addressForm" novalidate>
        <label>Name:</label>
        <br/>
        <input type="text" name="customer" placeholder="Grace Hopper" ng-model="form.name" required/>
        <span class="error" ng-show="addressForm.customer.$dirty && addressForm.customer.$error.required">
       Customer name is required!</span>
        <br/>
        <br/>
            <label>Address:</label>
            <br/>
            <input type="text" name="line1" size="33" placeholder="5 Fullstack Place" required ng-model="form.address" />
            <br/>
            <input type="text" name="city" size="12" placeholder="New York" required ng-model="form.city" />,
            <input type="text" name="state" placeholder="NY" ng-pattern="/^\w\w$/" size="2" required ng-model="form.state" />
            <input type="text" name="zip" placeholder="12345" ng-pattern="/^\d\d\d\d\d$/" size="5" required ng-model="form.zipcode" />
            <br/>
            <br/>
                <span ng-show="addressForm.line1.$dirty && addressForm.$invalid" class="error">
         Incomplete address:</span>
                <span class="error" ng-show="addressForm.state.$dirty && addressForm.state.$error.pattern">
           Invalid state!</span>
                <span class="error" ng-show="addressForm.city.$dirty && addressForm.city.$error.pattern">
           Invalid City!</span>
                <span class="error" ng-show="addressForm.zip.$dirty && addressForm.zip.$error.pattern">
           Invalid zip!</span>
        </ng-form>
        <button class="btn btn-default" ng-click="reset()">Reset</button>
        <button class="btn btn-default" ng-click="save()" ng-disabled="addressForm.$invalid" >Save</button>
    </form>
</div>
