<div ng-repeat="user in users" ng-model=user.data[user.id]>

<div ng-model=user.data[user.id]>
<span contenteditable>{{user.email}}</span>
Reset their password?
<input type="checkbox" value="{{user.resetPassword}}" ng-checked="user.resetPassword">
Admin 
<input type="checkbox" value="{{user.isAdmin}}" ng-checked="user.isAdmin">
</div>
<!-- {{user}} -->
</div>


<div>
<input type="text" class="form-control" placeholder="Search for an user (by email)" ng-model="selectedUser" typeahead="user as user.email for user in users | filter:$viewValue | limitTo:3">

</div>
