<div>
<input type="text" class="form-control" placeholder="Search for an user (by email)" ng-model="selectedUser" typeahead="user as user.email for user in users | filter:$viewValue | limitTo:10">
</div>

<div ng-show="selectedUser.email">
{{selectedUser}}

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" placeholder="Enter email" ng-model="selectedUser.email">
    </div>
    <div class="checkbox">
        <label>
        <input type="checkbox" ng-model="selectedUser.isAdmin"> Admin
        </label>
    </div>
    <div class="checkbox">
        <label>
        <input type="checkbox" ng-model="selectedUser.resetPassword"> Force password reset
        </label>
    </div>
    <button type="button" class="btn btn-default" ng-click="update(selectedUser.id, selectedUser)">Update</button>
    <button type="button" class="btn btn-default" ng-click="delete(selectedUser.id)">Delete</button>
</form>

</div>
