.form-inline-display {
  display: inline-block;
  width: 50px;
}

.btn-checkout {
  width: 180px;
  height: 60px;
  margin: 15px;
}

.text-title {
  display: table;
  height: 50px;
  line-height: 50px;
}

.field-padding {
  padding: 2px;
}
